{% extends "html" %}
{% set hide_navigation = True %}
{% block title %}Hello, welcome in !{% endblock %}
{% block body %}

<div style="text-align:center">
  <div style="font-size:50px;margin:25px">
    d.i.s.solve
  </div>
  digital infrastructure specialized solvers
  {{hr()}}
</div>

<p>
  <a href="{{url_for('projects')}}">Showcase</a>
  <a href="http://owenversteeg.com/">Hire</a>
</p>

{{hr()}}

<p><strong>We deliver solutions for information systems intergration and data workflow.</strong>
</p>
<p>
    We do not sell. We solve.
    We do not advise. We propose.
    We do not speak. We listen and answer question.
</p>

{{hr()}}

<p>
  <strong>Our rationale by example</strong>
</p>
<p>
  Look at this website. Please have a look at <a href="...github...">the code</a>.
  No overengineering. It fulfils its purpose, no more, no less. Easy and fun to maintain,
  economical, and ecological. Time spent on its development is minimal and no more than needed.
  We save our time and value for you.
</p>
<p>
  We like to build smooth, actionable and wonderful software workflow
  out of the simplest material. Everything is in the binding and integration,
  like a swiss watch.
</p>
<p>
  Hire us for what you cannot solve with turn-key solutions.
  We will gather a selection of the best open-source software components
  that fit your purpose and we bind it toghether with an approach that is sensible
  to you.
</p>
<p>
  Our iterative development scheme puts the power of choice in your hands.
  You have a fine grained validation freedom, and also duty, over the course of the project
  - from the conceptual phase, to implementation process, to deployment and maintenance cycle.
  At every step of every aspect of your project, we propose alternatives and you decide
  of the nature of the way, the depth of the investment and the width of the product.
</p>
<p>
  Our structured and minimal scheme of <a href="">software development process</a>
  lets you track and govern with a few simple tools and dashboards that we provide.
  You have overview of the current and historical state of the project,
  and a synthetic of the actions you need to take (with a simple priority systems
  for efficiency over critically blocking actions).
  We purpose to ensure quality while value your time.
</p>
<p>
  We keep everything minimal to ensure keeping the focus on the DNA of your purpose,
  we don't let technology fool us. The hardest part is humility
  - it usually pays with meaningful and usable project delivery.
</p>

{{hr()}}

<p>
  <strong>Our principles, values and beliefs</strong>
</p>
<p>
  <ul>
    <li>
      Least astonishment (p).
    </li>
    <li>
      Sensible minimalism and a clearly chosen iterative process brings most value (b).
    </li>
    <li>
      Don't be afraid of being stupid, be afaraid of ignoring it (v).
    </li>
    <li>
      Freedom of choice is the only power we have.
    </li>
    <li>
    </li>
  </ul>
</p>

{#
<p>
    Our IT Stack:
  <ul>
    <li>
      Software
    </li>
    <li>
      Data
    </li>
    <li>
      Services
    </li>
    <li>
      Operating system
    </li>
    <li>
      Physical topology
    </li>
  </ul>
</p>
#}
{% endblock %}
